<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<div id="left">
<h2>New registration</h2>
<form action='/users/create' method='POST'>
  {% csrf_token %} 
  <p><label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label></p>
  <p><label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label></p>
  <p><label for="email">Email:<input type="text" name="email" id="email"></label></p>
  <p><label for="password">Password:<input type="password" name="password" id="password"></label></p>
  <p><label for="password">Confirm Password:<input type="password" name="cpassword" id="cpassword"></label></p>
  <p><label for="bdate">Birth Day: <input type="date" name="bday" value="2017-01-01"></p>
  <p><input type="submit" value="Create"></p>
</form>
</div>
<!--
<a href="/users">Go Back</a>
-->
<div id="right">
<h2>I registered before, please login</h2>
<form action='/users/login' method='POST'>
  {% csrf_token %} 
  <p><label for="email">Email:<input type="text" name="email" id="email"></label></p>
  <p><label for="password">Password:<input type="password" name="password" id="password"></label></p>
  <p><input type="submit" value="login"></p>
</form>
</div>
</html>
